html {
    /* scroll-behavior: smooth !important; */
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    min-height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icon-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
}


/* ------------------ */

.icon-scroll .icon-up {
    margin-right: 5px;
}

.icon-scroll .icon-up svg,
.icon-scroll .icon-down svg{
    width: 20px;
    height: 20px;  
}

.icon-scroll .icon-up,
.icon-scroll .icon-down {
display: flex;
justify-content: center;
    cursor: pointer;
    background-color: #106CA7;
    border-radius: 20px;
    padding: 10px;
    fill: white;
    min-width: 80px;
}

.icon-scroll .icon-up:hover,
.icon-scroll .icon-down:hover {
    background-color: #007BC7;
}

.inactive-icon {
    background-color: #106CA7 !important;
    opacity: 0.6;
    cursor: default !important;
}